body{
    background-color: #ccc
}
#divBusca{
    background-color:#000
    border:solid 1px;
    border-radius:20px;
    width:300px;
}
 
#txtBusca{
    float:left;
    background-color:#000
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}


